<main>

  <p>I'm Gareth, and I'm a
    <span style="text-decoration: line-through;">web</span>&nbsp;<span
      style="text-decoration: line-through;">applicaiton</span>&nbsp;<span
      style="text-decoration: line-through;">software</span>&nbsp;<span>developer</span> 🤔?</p>

  <p>Here are some things</p>
  <ul>
    <li><a href="https://github.com/gazzdev">Github</a></li>
    <li><a href="https://stackblitz.com/@gazzdev">Stackblitz</a></li>
    <li><a href="https://www.linkedin.com/in/garethduncan/">LinkedIn</a></li>
    <li><a [routerLink]="['/blog']">Blog</a></li>
  </ul>

  <p>
    More will be arriving shortly, including a blog - if I push myself. <br />
    Hopefully I don't throw it in the 🗑️ like my
    other personal websites I have never deployed.
  </p>

</main>